.wrapper {
  @include padding(0 $base-spacing);
  @include outer-container;
  max-width: 45em;

  @include media($medium-screen-up) {
    padding: 0;
  }
}

.hero {
  background-image: image-url("hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $white;
  height: 450px;
  padding-top: $base-spacing * 5;

  &__header,
  &__subheader {
    font-family: $base-font-family;
    font-weight: 300;
    text-align: center;
  }

  &__header {
    margin-bottom: 0;
  }

  &__content-wrapper {
    @include clearfix;
    background: $white;
    color: #1F1F42;
    border: $base-border;
    font-family: $secondary-font-family;
    font-size: $base-font-size;
    letter-spacing: 2px;
    margin-left: $base-spacing;
    margin-right: $base-spacing;
    margin-top: -($base-spacing * 4);
    padding: 1em;

    @include media($medium-screen-up) {
      font-size: $font-medium;
      margin: (-($base-spacing * 4)) auto 0;
    }
  }

  &__content {
    padding: $base-spacing;

    @include media($medium-screen-up) {
      padding: $base-spacing * 2;
    }
  }
}

.circle {
  @include size(1em);
  border-radius: 50%;
  content: "";
  display: inline-block;

  &-pink {
    background: $pink;
  }

  &-green {
    background: $teal;
  }

  &-gray {
    background: $light-gray;
  }
}

.action-bar {
  background: $teal;
  color: white;
  display: flex;;
  justify-content: center;
  padding: $base-spacing;
  margin-top: $base-spacing;

  .cta-button {
    @include margin(0 $xsmall-spacing);
    border: 1px solid white;
    clear: both;
    color: white;
    padding: $small-spacing;
    text-align: center;
    text-decoration: none;

    @include media($medium-screen-up) {
      width: 13em;
    }
  }

  .social {
    @include padding($small-spacing $xsmall-spacing 0);
  }
}

.content-area {
  padding-bottom: $base-spacing * 3;
  padding-top: $base-spacing * 3;

  h4 {
    @include padding($small-spacing null);
    font-weight: 100;
    text-transform: uppercase;
  }

  &.mission,
  &.join-us {
    h3 {
      color: $teal;
    }
  }

  &.values {
    background: $purple;
    color: $light-pink;

    .value-list {
      @include span-columns(6);
      padding-top: $small-spacing;
    }
  }
}

.affiliate-wrapper {
  a {
    float: left;
  }
}

.affiliate-group {
  @include size(10em);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: $base-border;
  margin-right: $small-spacing;
  margin-top: $base-spacing;
  display: inline-block;
}

.codechix {
  background-image: image-url("codechix-logo.png");
}

.linuxchix {
  background-image: image-url("linuxchix-logo.png");
}

.women-who-code {
  background-image: image-url("womenwhocode-logo.png");
}

.women-who-startup {
  background-image: image-url("womenwhostartup.png");
}


footer {
  @include clearfix;
  @include padding($small-spacing null);
  background: $lightest-gray;

  @include media($medium-screen-up) {
    display: flex;
    justify-content: center;
  }

  p, a {
    color: $medium-gray;
    font-size: $font-small;
    margin-bottom: 0;
    padding-right: $base-spacing * 2;
    text-decoration: none;
    display: block;

    @include media($medium-screen-up) {
      display: inline-block;
    }
  }
}
