body {
}

.wrapper {
  @include outer-container;
  max-width: 45em;
}

.hero {
  background-image: image-url("hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $white;
  height: 450px;
  padding-top: $base-spacing * 5;

  &__header,
  &__subheader {
    font-family: $base-font-family;
    font-weight: 300;
    text-align: center;
  }

  &__header {
    margin-bottom: 0;
  }

  &__content-wrapper {
    @include clearfix;
    background: $white;
    color: #1F1F42;
    border: $base-border;
    font-family: $secondary-font-family;
    font-size: $font-medium;
    letter-spacing: 2px;
    margin-top: -($base-spacing * 3);
    padding: 1em;
  }

  &__content {
    padding: $base-spacing * 2;
  }
}

.circle {
  @include size(1em);
  border-radius: 50%;
  content: "";
  display: inline-block;

  &-pink {
    background: $pink;
  }

  &-green {
    background: $teal;
  }

  &-gray {
    background: $light-gray;
  }
}

.action-bar {
  background: $teal;
  color: white;
  padding: $base-spacing;
  margin-top: $base-spacing;

  p {
    border: 1px solid white;
    clear: both;
    padding: $small-spacing;
    margin: 0 auto;
    text-align: center;
    width: 20em;
  }
}

.content-area {
  font-family: $secondary-font-family;
  padding-bottom: $base-spacing * 3;
  padding-top: $base-spacing * 3;

  h2 {
    @include padding($small-spacing null);
    font-weight: 100;
    text-transform: uppercase;
  }

  &.mission,
  &.join-us {
    h2 {
      color: $teal;
    }
  }

  &.values {
    background: $purple;
    color: $light-pink;

    .value-list {
      @include span-columns(6);
      padding-top: $small-spacing;
    }
  }
}

.affiliate-group {
  @include size(10em);
  background: $light-gray;
  border-radius: 50%;
  display: inline-block;
  margin-right: $small-spacing;
  margin-top: $base-spacing;
}

footer {
  @include clearfix;
  @include padding($small-spacing null);
  background: $light-gray;

  p, a {
    color: $medium-gray;
    margin-bottom: 0;
    font-size: $font-small;
  }

  a {
    float: right;
  }

  p {
    float: left;
  }
}
