---
title: DevChix
---

%header
  .hero
    %h1.hero__header DevChix
    %h3.hero__subheader Connecting Women in Technology
  .hero__content-wrapper.wrapper
    .circle.circle-pink
    .circle.circle-green
    .circle.circle-gray
    .hero__content
      %p
        DevChix is a diverse group of women from a variety of technical and
        experience background, with a common goal of providing education,
        support, and mentorship to current and future women in technology.
      %p
        DevChix is a healthy and safe community where women can openly discuss
        topics around software development both publically and privately.

      %a
        Join us
  .action-bar
    %p Join our mailing list
