---
title: DevChix
---

%header
  .hero
    %h2.hero__header DevChix
    %p.hero__subheader Connecting Women in Technology
  .hero__content-wrapper.wrapper
    .circle.circle-pink
    .circle.circle-green
    .circle.circle-gray
    .hero__content
      %p
        DevChix is a diverse group of women from a variety of technical and
        experience background, with a common goal of providing education,
        support, and mentorship to current and future women in technology.
      %p
        DevChix is a healthy and safe community where women can openly discuss
        topics around software development both publically and privately.

%section.action-bar
  =link_to "https://github.com/devchix" do
    .social
      =image_tag "github.svg"
  =link_to "https://twitter.com/devchix" do
    .social
      =image_tag "twitter.svg"

  =link_to "https://groups.google.com/forum/#!forum/devchix", class: "cta-button" do
    Join Us

  =link_to "https://www.facebook.com/devchix" do
    .social
      =image_tag "facebook.svg"

  =link_to "https://www.linkedin.com/groups/55155/profile" do
    .social
      =image_tag "linkedin.svg"

%section.content-area.mission.wrapper
  %h4 // Our Mission
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat.
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
    est laborum.

%section.content-area.values
  .wrapper
    %h4 // Our Values
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.

    %ul.value-list
      %li # We value opinions
      %li # We value kindness
      %li # We value knowledge
      %li # We value hard work
      %li # We value honesty
      %li # We value community

    %ul.value-list
      %li # We value healthy work environments
      %li # We value collaboration
      %li # We value equal opportunity, treatment, and rights for all people
      %li # We value respect
      %li # We value understanding

%section.content-area.join-us.wrapper
  %h4 // Join Us
  %p
    Join us, by <a href ="https://groups.google.com/forum/#!forum/devchix"> joining our newletter</a> or join our affliated women in tech groups.

  .affiliate-wrapper
    =link_to "http://codechix.org" do
      .affiliate-group.codechix
    =link_to "http://www.linuxchix.org/" do
      .affiliate-group.linuxchix
    =link_to "https://www.womenwhocode.com" do
      .affiliate-group.women-who-code
    =link_to "http://www.womenwhostartup.com" do
      .affiliate-group.women-who-startup

%footer
  %p © 2016 DevChix
  %a info@devchix.org
  %a Made with ♥ by thoughtbot
